<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>BUPTCZQ's Homepage</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="./static/normalize.css">
  <!-- use prism -->
  <link rel="stylesheet" href="./static/prism.css">
  <!-- use element -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
  <style type="text/css">
    body{
        font-family:PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
        font-size:14px;
        line-height:2;
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
        -webkit-text-size-adjust:none;
        position:relative;
        max-width:700px;
        margin:0 auto;
        padding:0;
        background:#fff;
        color:#555
    }
    .hand{
        cursor:pointer;
    }
    table 
    { 
        table-layout:fixed;
        empty-cells:show;
        border-collapse: collapse;
        margin:0 auto;
        border:1px solid #ccc;
        color:#666;
    } 
    td,th{
        border:1px solid #ccc;
        padding:0 1em 0;
    }
    pre {
        font-family:monospace,monospace;
        font-size:1em;
        background:#f7f7f7!important;
        overflow-x:auto;
        white-space:pre;
        padding:16px;
    }
    code {
        background:#f7f7f7;
    }
    blockquote {
        border-left:4px solid #ddd;
        margin:0;
        padding:0 16px;
    }
  </style>
</head>

<body>
  <div id="app">
    <!-- title -->
    <br />
    <div align="center">
    <el-row>
        <el-col :span="24">
        <h2>BUPTCZQ's Homepage</h2>
        </el-col>
    </el-row>
    <br />
    </div>
    <!-- body -->
    <div v-loading="loading">
        <div v-for="page in pages">
        <el-card>
            <h3 class="hand" v-on:click="showPage(page)">{{ page.title }}</h3>
            <p style="font-size: 10px;">{{ page.date }}</p>
        </el-card>
        <br />
        </div>
    </div>
    <!-- view -->
    <el-dialog v-model="visible">
    <div v-html="pagedata"></div>
    </el-dialog>
    <!-- footer -->
    <br />
    <footer class="footer">
    <div align="center">
    Copyright © {{ thisYear }} <a href="http://www.czq233.com">BUPTCZQ</a>
    <br />
    Powered by <a href="https://www.vuejs.org">Vue.js</a>
    </div>
    </footer>    
  </div>
</body>
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- Element -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <!-- Marked.js -->
  <script src="./static/marked.min.js"></script>
  <!-- Prism.js -->
  <script src="./static/prism.js"></script>
  <!-- Axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    // Cache processor
    const Cache = {
      get: (key) => {
        if (!window.sessionStorage) return false
        return JSON.parse(window.sessionStorage.getItem(key))
      },
      set: (key, data) => {
        if (!window.sessionStorage) return false
        window.sessionStorage.setItem(key, JSON.stringify(data))
        return true
      },
      has: (key) => {
        return Boolean(window.sessionStorage && window.sessionStorage.hasOwnProperty(key))
      }
    }
    function onlyTitle (title) {
      return title.replace(/\.md$/, '')
                  .replace(/^\d{4}-\d{1,2}-\d{1,2}-/, '')
    }
    function onlyDate (title) {
      return /^\d{4}-\d{1,2}-\d{1,2}/.exec(title)[0]
    }
    function getPages () {
        if (Cache.has('pages')) {
            // Read from cache
            return Promise.resolve(Cache.get('pages'))
        } else {
            return axios.get("https://api.github.com/repos/buptczq/buptczq.github.io/contents/pages")
            .then(res => res.data)
            .then(arr => {
              // Data cleaning
              const list = arr.map(({name, sha, size}) => ({
                title: onlyTitle(name),
                date: onlyDate(name),
                timestamp: new Date(onlyDate(name)).getTime(),
                sha,
                size
              }))
              list.sort(function(x,y){return y.timestamp-x.timestamp});
              // Save into cache
              Cache.set('pages', list)
              // ..then return
              return list
          })
        }
    }
    function getPostUrl (hash) {
        // @see https://developer.github.com/v3/git/blobs/#get-a-blob
        return `https://api.github.com/repos/buptczq/buptczq.github.io/git/blobs/${hash}`
    }
    function getDetail (hash) {
        const httpOpts = {
            // https://developer.github.com/v3/media/#raw-1
            headers: { Accept: 'application/vnd.github.v3.raw' }
        }
        const cacheKey = 'post.' + hash

        if (Cache.has(cacheKey)) {
            // Read from cache
            return Promise.resolve(Cache.get(cacheKey))
        } else {
            return axios.get(getPostUrl(hash), httpOpts)
            .then(res => res.data)
            .then(content => {
                // Save into cache
                Cache.set(cacheKey, content)
                // ..then return
                return content
            })
        }
    }
    function initMDRender(){
        const renderer = new marked.Renderer()
        renderer.heading = (text, level) => {
            const slug = text.replace(/<(?:.|\n)*?>/gm, '').toLowerCase().replace(/[\s\n\t]+/g, '-')
            return `<h${level} id="${slug}">${text}</h${level}>`
        }
        renderer.code = (code, lang) => {
            const highlight = Prism.highlight(code, Prism.languages[lang] || Prism.languages.javascript)
            return `<pre><code class="lang-${escape(lang, true)}">${highlight}</code></pre>`
        }
        marked.setOptions({
            renderer,
            breaks: true,
            gfm: true
        })
    }
    initMDRender();
    new Vue({
        el: '#app',
        data(){
            return {
                thisYear: new Date().getFullYear(), 
                pages: [],
                loading: false,
                visible: false,
                pagedata: "",
            }
        },
        created () {
            this.loadList()
        },
        methods: {
            loadList () {
                this.loading = true
                getPages()
                .then(pages => {
                    this.pages = pages;
                    setTimeout(() => {
                        this.loading = false;
                    }, 100);
                })
                .catch(err => {
                    console.error(err);
                    setTimeout(() => {
                        this.loading = false;
                    }, 100);
                })
            },
            showPage(page) {
                this.pagedata="<center>Loading...</center>";
                getDetail(page.sha)
                .then(res => {
                    this.pagedata=marked(res);
                })
                .catch(err => {
                    console.error(err)
                })
                this.visible = true

            }
    },
    })
  </script>
</html>
